.Pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination {
  display: flex;
  list-style: none;
}
.pagination button {
  padding: 10px;
  margin: 10px;
  border: none;
  background: gray;
  transition: .5s;
  color: #ffffff;
}
.pagination button:hover {
  border-radius: 50%;
  background: #363636;
}