* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.home {
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home .form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home input {
  padding: 5px;
  margin: 5px 0;
}

.home button{
  width: 100px;
  margin: 5px 0;
}

.signup {
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signup input {
  padding: 5px;
  margin: 5px 0;
}

.signup button {
  width: 100px;
  margin: 5px 0;
}

.signup {

}